.tutorial{
    background-color: black;
    margin-top: 20px;
    background-image: url("https://i.pinimg.com/736x/50/7d/94/507d94180945abe3a7e4f991cc2f9373.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;

}
.apresentacao{
    background-image: url("https://i.pinimg.com/736x/65/f6/5b/65f65bf833ab4709031be0fb3c1b5ed0.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    background-position:top;
    font-size:33px ;
}

.sobre{
    display: flex;
    gap: 40px;
    padding: 2%;
    line-height: 24px;
    align-items: center;
    background:black;
    color:white;

}
h2{
    font-size:33px;
    
}
h1{
    color:white;
    align-items: center;
    list-style:none;
    display:flex;
    justify-content:space-around;
    
}
h3{
    color:white;
    font-size:33px;
    background-position:top;
    list-style:none;
    display:flex;
    justify-content:space-around;
    
}

nav{
    background: black;
    padding: 10px;
}
ul{
    list-style:none;
    display:flex;
    justify-content:space-around;
    
}
a{
    text-decoration:none;
    color: white;
}

.sobre{
    margin-top: 20px;
    font-size:20px;
}
